export(fn.patccat)
export(fn.benchmarking)
export(patccat_classify)
export(patccat_load_model)
export(patccat_defaults)
import(dplyr)
import(stringr)
importFrom(magrittr, "%>%")
importFrom(stats, setNames)
importFrom(utils, head)
